PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/portfolio
JWT_SECRET=super_secret_jwt_key_sandeep_portfolio_9988
ADMIN_USERNAME=adminsandeep
ADMIN_PASSWORD=@dmins@deep
NODE_ENV=development

# SMTP Email Notification Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_TO=sa10sandeep21@gmail.com
